@import "tailwindcss";

.abruptPostForms{
	/* display: none; */
	position: fixed;
    background: rgb(50 50 50/20%);
	backdrop-filter: blur(10px);
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    top: 0;
	z-index: 9999;
    left: 0;
    height: 100%;
}